{{! si nos envian  el objeto con la url (desde el controlador con editarUrl() ) al darle click al boton de editar, entonces rellenamos el input con el link correspondiente }}
{{#if url}}
  <form action="/editar/{{url._id}}" method="post">
    {{! input para el token de seguridad }}
    <input type="hidden" name="_csrf" value="{{csrfToken}}" />
    <input
      value="{{url.origin}}"
      type="text"
      name="origin"
      placeholder="ingresar url"
      class="form-control my-2"
    />
    <button type="submit" class="btn btn-warning w-100 mb-2">Editar URL</button>
  </form>

{{else}}

  <form action="/" method="post">
    <input type="hidden" name="_csrf" value="{{csrfToken}}" />
    <input
      type="text"
      name="origin"
      placeholder="ingresar url"
      class="form-control my-2"
    />
    <button type="submit" class="btn btn-primary w-100 mb-2">Agregar URL</button>
  </form>
{{/if}}